@model Verduleria.Models.ProductoPromocion
@{
    ViewData["Title"] = "Verduleria";
    Layout = "_AdminLayout";
}

<div class="container-xxl position-relative bg-white d-flex p-0">
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <form asp-action="EditarProductoPromocion" asp-controller="Admin" method="post" class="bg-light rounded h-100 p-4">
                <div asp-validation-summary="ModelOnly"></div>
                <h6 class="mb-4">Editar Producto en Promocion</h6>
                <div>
                    <label>Seleccione el producto</label>
                    @Html.DropDownList("IdProducto", (IEnumerable<SelectListItem>)ViewData["Productos"], new { @class = "form-control form-select mb-3" })
                </div>
                <div>
                    <label>Seleccione la promoción</label>
                    @Html.DropDownList("IdPromocion", (IEnumerable<SelectListItem>)ViewData["Promociones"], new { @class = "form-control form-select mb-3" })
                </div>
                <div class="form-check mb-3">
                    <label class="form-check-label" asp-for="ProductoCompra"></label>
                    <input asp-for="ProductoCompra" class="form-check-input" type="checkbox">
                    <span asp-validation-for="ProductoCompra"></span>
                </div>
                <label asp-for="Cantidad"></label>
                <div class="input-group mb-3">
                    <input asp-for="Cantidad" type="number" class="form-control" />
                    <span asp-validation-for="Cantidad"></span>
                </div>
                <label asp-for="PorcentajeDebita"></label>
                <div class="input-group mb-3">
                    <input asp-for="PorcentajeDebita" type="number" class="form-control" />
                    <span asp-validation-for="PorcentajeDebita"></span>
                </div>
                <input type="hidden" asp-for="Id">
                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </div>
    </div>
    <!-- Form End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- Template Javascript -->
<script src="js/main.js"></script>