@model IEnumerable<Verduleria.Models.Rol>
@{
    ViewData["Title"] = "Verduleria";
    Layout = "_AdminLayout";
}
<!-- Navbar End -->
@if (Model != null)
{
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Roles</h6>
                    <a class="btn btn-primary" asp-action="AgregarRol" asp-controller="Admin">Crear nuevo</a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var rol in Model)
                                {
                                    <tr>

                                        <td>
                                            @Html.DisplayFor(modelItem => rol.Descripcion)
                                        </td>
                                        <td>
                                            <a asp-action="EditarPromocion" asp-route-id="@rol.Id">Editar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Content End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>