@{
    ViewData["Title"] = "Verduleria";
    Layout = "_Layout";
}

@if (ViewData["Productos"] == null || ViewData["Promociones"] == null)
{
    <h2> Se presento un problema favor intente mas tarde</h2>
}
else
{
    <header id="home" class="header">
        <div class="overlay text-white text-center">
            <h1 class="display-2 font-weight-bold my-3">Verduleria</h1>
            <h2 class="display-4 mb-5">Siempre fresco y Delicioso</h2>
            <a class="btn btn-lg btn-primary" href="#gallary">Mira nuestros productos</a>
        </div>
    </header>

    <!--  About Section  -->
    <div id="about" class="container-fluid wow fadeIn" id="about" data-wow-duration="1.5s">
        <div class="row">
            <div class="col-lg-6 has-img-bg"></div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <div class="col-sm-8 py-5 my-5">
                        <h2 class="mb-4">Sobre Nosotros</h2>
                        <p>
                            ¡Bienvenidos a nuestra verdulería en el centro de San José, Costa Rica! Somos una tienda de frutas y verduras frescas y de alta calidad, ubicada en el corazón de la ciudad.
                            <br/>
                            Nuestro compromiso es ofrecer a nuestros clientes los productos más frescos y saludables disponibles en el mercado. Trabajamos con proveedores locales y regionales para asegurarnos de que nuestros productos sean siempre de temporada y cultivados de manera sostenible.
                            <br/>
                            En nuestra tienda encontrarás una amplia variedad de frutas y verduras, desde las más comunes hasta las más exóticas. También ofrecemos productos orgánicos, para aquellos que buscan opciones más saludables y amigables con el medio ambiente.
                            <br/>
                            Además de frutas y verduras frescas, también contamos con una selección de productos locales como miel, mermeladas y frutos secos. Y si buscas algo más elaborado, tenemos deliciosos jugos naturales y ensaladas preparadas con los mejores ingredientes.
                            <br />
                            Nos enorgullece brindar un servicio personalizado a cada cliente, ayudándoles a encontrar los productos que necesitan y ofreciendo consejos y recomendaciones sobre cómo preparar y cocinar los alimentos.
                            <br />
                            Te invitamos a visitarnos en nuestra verdulería en el centro de San José, donde encontrarás todo lo que necesitas para una alimentación saludable y deliciosa. ¡Esperamos verte pronto!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  gallary Section  -->
    @await Html.PartialAsync("Gallary", ViewData["Productos"])

    <!-- BLOG Section  -->
    @await Html.PartialAsync("Blog", ViewData["Promociones"])

    <!-- REVIEWS Section  -->
    @await Html.PartialAsync("Reviews")

    <!-- CONTACT Section  -->
    @await Html.PartialAsync("Contact")

}

<script src="~/assets/js/carousel.js"></script>