
<div id="contact" class="container-fluid bg-dark text-light border-top wow fadeIn">
    <div class="row">
        <div class="col-md-6 px-0">
            <div id="map" style="width: 100%; height: 100%; min-height: 400px"></div>
        </div>
        <div class="col-md-6 px-5 has-height-lg middle-items">
            <h3>¡Visitenos!</h3>
            <div class="text-muted">
                <p><span class="ti-location-pin pr-3"></span>Avenida Central, entre Calle 5 y 7, San José Centro, Costa Rica.</p>
                <p><span class="ti-support pr-3"></span>(+506) 1234-5678</p>
            </div>
        </div>
    </div>
</div>

<!-- page footer  -->
    <div class="container-fluid bg-dark text-light has-height-md middle-items border-top text-center wow fadeIn">
        <div class="row">
            <div class="col-sm-4">
                <h3>EMAIL</h3>
                <P class="text-muted">verduleria@gmail.com</P>
            </div>
            <div class="col-sm-4">
                <h3>LLAMENOS</h3>
                <P class="text-muted">(+506) 1234-5678</P>
            </div>
            <div class="col-sm-4">
                <h3>ENCUENTRANOS</h3>
                <P class="text-muted">Avenida Central, entre Calle 5 y 7, San José Centro, Costa Rica.</P>
            </div>
        </div>
    </div>
