
<div id="testmonial" class="container-fluid wow fadeIn bg-dark text-light has-height-lg middle-items">
    <h2 class="section-title my-5 text-center">COMENTARIOS</h2>
    <div class="row mt-3 mb-5">
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Juan Carlos</h3>
                <div class="testmonial-body">
                    <p>Me encantó la variedad de productos frescos y locales que encontré en esta verdulería en San José. Los empleados fueron muy amables y me ayudaron a encontrar todo lo que necesitaba para mi ensalada de cena</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Ana María</h3>
                <div class="testmonial-body">
                    <p>Esta verdulería es mi lugar favorito para comprar frutas y verduras frescas en San José. Siempre encuentro algo nuevo y delicioso para probar, y su selección de productos orgánicos es impresionante</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-3 my-md-0">
            <div class="testmonial-card">
                <h3 class="testmonial-title">Pedro José</h3>
                <div class="testmonial-body">
                    <p>Fui a esta verdulería por primera vez hoy y quedé impresionado con su atención al cliente. Me ayudaron a encontrar los ingredientes perfectos para mi receta y me dieron excelentes consejos sobre cómo prepararlos. Sin duda volveré</p>
                </div>
            </div>
        </div>
    </div>
</div>